# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/
.env

# Essentia Models
api/models/
models/
temp_models/

# OS
.DS_Store
Thumbs.db

# Docker
# .dockerignore should be included in repo
